<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DataAppConnection" connectionString="Data Source=DataApp.db3;"/>
  </connectionStrings>
  <SubSonicService defaultProvider="DataAppProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="DataAppProvider" type="SubSonic.SQLiteDataProvider, SubSonic" connectionStringName="DataAppConnection"/>
    </providers>
  </SubSonicService>
</configuration>